/* GENERAL BODY STYLES */
body {
  background-color: #517664;
}
.content{
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(145, 216, 172, 0.667);
  margin: 10px auto;
}

/* HEADER STYLES */
#greeting {
  color: #345043;
}

/* FORM STYLES */
.survey-question {
  padding: 10px 0px;
}
.survey-question p {
  font-weight: bold;
}

/* RESULTS STYLES */
.hidden {
  display: none;
}

#results {
  margin: 20px 25%;
  padding: 10px;
  background-color: #E5A876;
  border-radius: 8px;
}

#answer {
  color: #D52941;
}

/* ERROR STYLES */
#error-interest {
  display: hidden;
  color: red;
}

#error-career {
  display: hidden;
  color: red;
}