/* HEADER STYLES */

/* GENERAL CONTENT STYLES */
.content{
  padding: 10px;
  border-radius: 8px;
}

/* FORM STYLES */
#the-survey{
  background-color: rgba(145, 216, 172, 0.666);
}

.survey-question {
  padding: 10px 0px;
}
.survey-question p {
  font-weight: bold;
}

/* RESULTS STYLES */
.hidden {
  display: none;
}

#results {
  margin: 20px 25%;
  padding: 10px;
  background-color: rgba(242, 190, 101, 0.666);
  border-radius: 8px;
}

#answer {
  color: red;
}

/* ERROR STYLES */
#error-interest {
  display: hidden;
  color: red;
}

#error-career {
  display: hidden;
  color: red;
}