/* HEADER STYLES */

/* GENERAL CONTENT STYLES */
.content{
  border: 1px black solid;
  padding: 10px;
  border-radius: 8px;
}

/* FORM STYLES */
#the-survey{

}

.survey-question {
  padding: 10px 0px;
}
.survey-question p {
  font-weight: bold;
}

/* RESULTS STYLES */
#results {
 display: none;
}
